.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;

}
.background__Img{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
}

.coffeGridBack{
    background-color: #1C1D1F;
    width: 80%;
    height: 1000px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 180px;
    padding: 60px;
    z-index: 10;
}
.decoration{
    margin-bottom: 60px;
    padding-left: 240px;
}
.coffeeSection{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coffeText{
    width: 50%;
    height: 50px;
    margin-bottom: 30px;
}

.coffeBtn{
    gap: 1220px;
}

.btnProduct{
    background-color: #1C1D1F;
    margin-right: 5px;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}

.btnAvailable{
    background-color: #1C1D1F;
    margin-left: 5px;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}
.btnInactive{
background-color: #1C1D1F;
}

.btnActive{
    background-color: #6B6B6B;
}


.coffeGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 100;
    gap: 30px;
    margin-top: 125px;
}

@media screen and (max-width: 480px){
    .coffeGridBack{
        width: 45%;
        height: 2760px;
    }

    .decoration {
        margin-bottom: 60px;
        padding-left: 95px;
    }

    .coffeBtn{
        margin: 25px;
        padding-bottom: 25px;
        padding-top: 48px;
    }

    .coffeGrid{
        margin-top: 205px;
    }
}

@media screen and (max-width: 640px){
    .coffeGridBack{
        width: 65%;
        height: 2610px;
    }

    .coffeBtn{
        margin: 25px;
        padding-bottom: 25px;
    }
    .coffeGrid{
        padding-top: 25px;
    }

}

@media screen and (max-width: 768px) {
    .coffeBtn{
        margin: 25px;
        padding-bottom: 25px;
    }
    .coffeGrid{
        display: block;
        padding-top: 45px;
    }

    .coffeGridBack {
        width: 55%;
        height: 2570px;
    }
}



/* 0   480     960     1328  medidas de breakpoint*/